#circleG{
width:37.333333333333336px;
}

.circleG{
background-color:#CDD4DE;
position:relative;
top:5px;
float:left;
height:8px;
margin-left:4px;
width:8px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.0499999999999998s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:5px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.0499999999999998s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:5px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.0499999999999998s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:5px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.0499999999999998s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:5px;
animation-name:bounce_circleG;
animation-duration:1.0499999999999998s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:5px;
}

#circleG_1{
-moz-animation-delay:0.20999999999999996s;
-webkit-animation-delay:0.20999999999999996s;
-ms-animation-delay:0.20999999999999996s;
-o-animation-delay:0.20999999999999996s;
animation-delay:0.20999999999999996s;
}

#circleG_2{
-moz-animation-delay:0.48999999999999994s;
-webkit-animation-delay:0.48999999999999994s;
-ms-animation-delay:0.48999999999999994s;
-o-animation-delay:0.48999999999999994s;
animation-delay:0.48999999999999994s;
}

#circleG_3{
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-ms-animation-delay:0.63s;
-o-animation-delay:0.63s;
animation-delay:0.63s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#80D994}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#80D994}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#80D994}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#80D994}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#80D994}

100%{
}

}